  .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
color: #000;  /*Sets the text hover color on navbar*/
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active >   
 a:hover, .navbar-default .navbar-nav > .active > a:focus {
color: #000000; /*BACKGROUND color for active*/
background-color: #0000fd;
}

  .navbar-default {
    background-color: #c0c0c0;
    border-color: #595959;
}

 
 .nav > li > a:hover,
 .nav > li > a:focus {
    text-decoration: none;
    background-color: silver; /*Change rollover cell color here*/
  }

.navbar-default .navbar-brand {
	color: #ecf0f1;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
	color: #00000;
}
  .navbar-default .navbar-nav > li > a {
   color: white; /*Change active text color here*/
    }