<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ecgviewer</display-name>
  <welcome-file-list>
    <welcome-file>signin.jsp</welcome-file>
    <welcome-file>patientsearch.jsp</welcome-file>
    <welcome-file>ecgviewer.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>SigninServ</display-name>
    <servlet-name>SigninServ</servlet-name>
    <servlet-class>com.login.SigninServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SigninServ</servlet-name>
    <url-pattern>/SigninServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchServ</display-name>
    <servlet-name>SearchServ</servlet-name>
    <servlet-class>com.search.SearchServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchServ</servlet-name>
    <url-pattern>/SearchServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PatientServ</display-name>
    <servlet-name>PatientServ</servlet-name>
    <servlet-class>com.search.PatientServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PatientServ</servlet-name>
    <url-pattern>/PatientServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegServ</display-name>
    <servlet-name>RegServ</servlet-name>
    <servlet-class>com.registration.RegServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegServ</servlet-name>
    <url-pattern>/RegServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeviceServ</display-name>
    <servlet-name>DeviceServ</servlet-name>
    <servlet-class>com.registration.DeviceServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeviceServ</servlet-name>
    <url-pattern>/DeviceServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>table1</display-name>
    <servlet-name>table1</servlet-name>
    <servlet-class>com.table.table1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>table1</servlet-name>
    <url-pattern>/table1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FpassServ</display-name>
    <servlet-name>FpassServ</servlet-name>
    <servlet-class>com.login.FpassServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FpassServ</servlet-name>
    <url-pattern>/FpassServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>table2</display-name>
    <servlet-name>table2</servlet-name>
    <servlet-class>com.table.table2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>table2</servlet-name>
    <url-pattern>/table2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>table3</display-name>
    <servlet-name>table3</servlet-name>
    <servlet-class>com.table.table3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>table3</servlet-name>
    <url-pattern>/table3</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>enabledisabledeviceServ</display-name>
    <servlet-name>enabledisabledeviceServ</servlet-name>
    <servlet-class>com.table.enabledisabledeviceServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>enabledisabledeviceServ</servlet-name>
    <url-pattern>/enabledisabledeviceServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateClinic</display-name>
    <servlet-name>UpdateClinic</servlet-name>
    <servlet-class>com.update.UpdateClinic</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateClinic</servlet-name>
    <url-pattern>/UpdateClinic</url-pattern>
  </servlet-mapping>
</web-app>